<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
   mainfest.plist
   companyappdemo

   Created by WeiGuochu on 2017/4/27.
   Copyright (c) 2017年 WeiGuochu. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://xxxxxx.cn/xxxxxx/lfs-client-iphone.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://xxxxxx.cn/xxxxxx/icon57x57.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://xxxxxx.cn/xxxxxx/icon512x512.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.xxxxxx.xxxxxx</string>
                    <key>bundle-version</key>
                    <string>3.1.3</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>We chat</string>
                    <key>title</key>
                    <string> Wechat </string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
